<h1 id="welcome">Welcome!</h1>
<div id="container">
    <div class="all">
        <h2 id="signup">Sign up for free!</h2>
        <div id="form">
            <form action="/" method="POST">
                <b>Username</b><input name="username" type="username" placeholder="username" required>
                <b>Email</b><input name="email" type="email" placeholder="email@example.com" required>
                <b>Password</b><input name="password" type="password" placeholder="*******" required>
                <input id="submit" type="submit">

            </form>
        </div>
            <b id="err">{{err}}</b>
    </div>
</div>