<h1 id="welcome">Welcome back!</h1>
<div id="container">
    <div class="all">
        <h2 id="signup">Log In Here:</h2>
        <div id="form">
            <form action="/user" method="POST">
                <b>Username</b><input type="username" placeholder="username" required>
                <b>Password</b><input type="password" placeholder="*******" required>
                <input id="submit" type="submit">
                <a href="/silly">Forgot password? Click here.</a>
            </form>
        </div>
    </div>
</div>